.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
}
.cardscroll {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}
.cardscroll::-webkit-scrollbar {
    width: 0% !important;
}
.arrows1 {
    display: flex;
    position: absolute;
    height: 100%;
    width: 7.5%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-image: linear-gradient(to right, rgba(216, 216, 216,0.9), rgba(230, 230, 230,0.75));
}
#arrow1 {
    cursor: pointer;
}
.arrows2 {
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    width: 7.5%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-image: linear-gradient(to left, rgba(216, 216, 216,0.9), rgba(230, 230, 230,0.75));
}

#arrow2 {
    cursor: pointer;
}
#arrow1:hover {
    transform: scale(1.025);
}
#arrow2:hover {
    transform: scale(1.025);
}
.card {
    width: 33.3% !important;
    background-color: transparent;
    position: absolute;
    perspective: 1000px;
    height: 100% !important;
    position: relative;
    text-align: center;
    margin: 0px 1px;
    border: 1px solid black;
}
.cardinner {
    background-color: rgb(231,245,247);
    height: 100%;
    width: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card:hover .cardinner {
    transform: rotateY(180deg);
}
.cardfront, .cardback {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cardback {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}
.wordwrap {
    width: 95%;
    word-wrap: break-word;
}
.profile {
    width: 100%;
    height: 70%;
    border-bottom: 2px solid rgb(190, 190, 190);
}
