.hide {
    display: inline-block;
}
.link {
    color: white;
    text-decoration: none;
}
.link:hover {
    color:white;
    text-decoration: none;
}
@media screen and (max-width: 500px) {
    .hide {
        display: none;
    }
}